{{page-title "Formbuilder"}}
<div class="au-c-main-container__sidebar">
  <div class="au-c-sidebar">
    <div class="au-c-sidebar__content">
      <div class="au-c-sidebar__header">
        <InputTypesList @insertFieldInForm={{this.insertFieldInForm}}/>
        {{!--         <br>
                <ConceptSchemeUriSelector/>
                <AuLink @linkRoute="codelijsten">Bekijk inhoud van codelijsten</AuLink> --}}
      </div>
    </div>
    <div class="au-c-sidebar__footer">
      <AuLink @linkRoute="codelijsten" @icon="documents" @iconAlignment="left">Bekijk inhoud van codelijsten</AuLink>
    </div>
  </div>
</div>
<div class="au-c-main-container__content">
  <div class="playground">
    <Playground @store={{this.store}} @template={{this.codeEditor}} @model={{this.model}} @refresh={{this.refresh}} />
    {{outlet}}
  </div>
</div>