{{page-title "Formbuilder"}}
<div class="au-c-toolbar  au-c-toolbar--bottom  au-c-toolbar--large ">
  <div class="au-c-toolbar__group">
    <AuHeading @level="1" @skin="2">
      Maak en bewerk semantisch formulier
    </AuHeading>
  </div>


  <div class="au-c-toolbar__group">
    <AuButtonGroup>
      <AuLink @route="index" @skin="button-secondary" @icon="arrow-left">
        Terug naar overzicht formulieren
      </AuLink>
    </AuButtonGroup>
  </div>
</div>

<main id="main" class="au-c-main-container">
  <div class="au-c-main-container__sidebar">
    <div class="au-c-sidebar">
      <div class="au-c-sidebar__content">
        <div class="au-c-sidebar__header">
          <InputTypesList @insertFieldInForm={{this.insertFieldInForm}}/>
          {{!--         <br>
                  <ConceptSchemeUriSelector/>
                  <AuLink @route="codelijsten">Bekijk inhoud van codelijsten</AuLink> --}}
        </div>
      </div>
      <div class="au-c-sidebar__footer">
        <AuLink @route="codelijsten" @icon="documents">Bekijk inhoud van concept schemes</AuLink>
      </div>
    </div>
  </div>
  <div class="au-c-main-container__content">
    <div class="playground">
      <Playground @store={{this.forkingStore}} @template={{this.codeEditor}} @model={{this.model}} @refresh={{this.refresh}} />
      {{outlet}}
    </div>
  </div>
</main>