{{page-title "Edit"}}

<Toolbar
  @model={{this.model.generatedForm}}
  @code={{this.formCode}}
  @formChanged={{this.formChanged}}
  @onCodeChange={{this.handleCodeChange}}
  @setFormChanged={{this.setFormChanged}}
/>

<AuTabs
  class="au-u-padding-left-small au-u-padding-right-small"
  @reversed={{this.reversed}}
  as |Tab|
>
  <Tab>
    <AuLink @route="formbuilder.edit.code" @icon="html">{{t
        "formBuilder.edit.tabs.code"
      }}</AuLink>
  </Tab>
  <Tab>
    <AuLink @route="formbuilder.edit.builder" @icon="sitemap">{{t
        "formBuilder.edit.tabs.build"
      }}</AuLink>
  </Tab>
  <Tab>
    <AuLink @route="formbuilder.edit.validations" @icon="decided">{{t
        "formBuilder.edit.tabs.validations"
      }}</AuLink>
  </Tab>
  <Tab>
    <AuLink @route="formbuilder.edit.configuration" @icon="settings">{{t
        "formBuilder.edit.tabs.configuration"
      }}</AuLink>
  </Tab>
</AuTabs>

<AuBodyContainer>
  <div class="formBuilderEdit">
    {{outlet}}
    <div class="formBuilderEdit__preview au-u-padding-small">
      {{#if (and this.previewStore this.previewForm)}}
        {{#if this.setupPreviewForm.isRunning}}
          <AuLoader />
        {{else}}
          <RdfForm
            @groupClass="au-u-margin-left-small au-u-margin-top"
            @form={{this.previewForm}}
            @graphs={{this.model.graphs}}
            @formStore={{this.previewStore}}
            @forceShowErrors={{false}}
            @useNewListingLayout={{true}}
            @sourceNode={{this.sourceNode}}
          />
        {{/if}}
      {{else}}
        <AuLoader />
      {{/if}}
    </div>
  </div>
</AuBodyContainer>