{{page-title "Edit"}}

<Toolbar
  @model={{this.model.generatedForm}}
  @code={{this.formCode}}
  @formChanged={{this.formChanged}}
  @onCodeChange={{this.handleCodeChange}}
  @setFormChanged={{this.setFormChanged}}
/>

{{#if (is-equal this.formVersion this.formVersionManager.VERSION_ONE)}}
  <AuAlert
    class="au-u-margin-bottom-none"
    @title=""
    @skin="warning"
    @icon="alert-triangle"
    @size="small"
    @closable={{false}}
  >
    <p>{{t
        "messages.feedback.warnV1Form"
        version=this.formVersionManager.VERSION_ONE
      }}</p>
  </AuAlert>
{{/if}}

<AuTabs
  class="au-u-padding-left-small au-u-padding-right-small"
  @reversed={{this.reversed}}
  as |Tab|
>
  <AuButtonGroup class="au-u-margin-left">

    <Tab>
      <AuLink @route="formbuilder.edit.semantic-data" @icon="bookmark">{{t
          "navigation.tabs.semanticData"
        }}</AuLink>
    </Tab>
    <Tab>
      <AuLink @route="formbuilder.edit.code" @icon="html">{{t
          "navigation.tabs.code"
        }}</AuLink>
    </Tab>
    {{#if (is-equal this.formVersion this.formVersionManager.VERSION_ONE)}}
      <Tab>
        <AuButton
          @skin="link-secondary"
          @icon="sitemap"
          @iconAlignment="left"
          @disabled={{true}}
        >
          {{t "navigation.tabs.build"}}
        </AuButton>
      </Tab>
      <Tab>
        <AuButton
          @skin="link-secondary"
          @icon="decided"
          @iconAlignment="left"
          @disabled={{true}}
        >
          {{t "navigation.tabs.validations"}}
        </AuButton>
      </Tab>
      <Tab>
        <AuButton
          @skin="link-secondary"
          @icon="settings"
          @iconAlignment="left"
          @disabled={{true}}
        >
          {{t "navigation.tabs.configuration"}}
        </AuButton>
      </Tab>

    {{else}}
      <Tab>
        <AuLink @route="formbuilder.edit.builder" @icon="sitemap">{{t
            "navigation.tabs.build"
          }}</AuLink>
      </Tab>
      <Tab>
        <AuLink @route="formbuilder.edit.validations" @icon="decided">{{t
            "navigation.tabs.validations"
          }}</AuLink>
      </Tab>
      <Tab>
        <AuLink @route="formbuilder.edit.configuration" @icon="settings">{{t
            "navigation.tabs.configuration"
          }}</AuLink>
      </Tab>
    {{/if}}
  </AuButtonGroup>

</AuTabs>

<AuBodyContainer>
  <div class="formBuilderEdit">
    {{outlet}}
    <div class="formBuilderEdit__preview au-u-padding-small">
      {{#if (and this.previewStore this.previewForm)}}
        {{#if this.setupPreviewForm.isRunning}}
          <AuLoader />
        {{else}}
          <RdfForm
            @groupClass="au-u-margin-left au-u-margin-right au-u-margin-top"
            @form={{this.previewForm}}
            @graphs={{this.model.graphs}}
            @formStore={{this.previewStore}}
            @forceShowErrors={{false}}
            @useNewListingLayout={{true}}
            @sourceNode={{this.sourceNode}}
          />
        {{/if}}
      {{else}}
        <AuLoader />
      {{/if}}
    </div>
  </div>
</AuBodyContainer>

<AuModal
  @modalOpen={{this.isSaveModalOpen}}
  @closeModal={{fn (mut this.isSaveModalOpen) false}}
>
  <:title>{{t "confirmation.saveUnsavedChangesTitle"}}</:title>
  <:body>
    {{t "confirmation.saveUnsavedChangesQuestion"}}
  </:body>
  <:footer>
    <AuButtonGroup class="au-u-flex--between">
      <AuButton
        @alert={{true}}
        @skin="tertiary"
        {{on "click" this.discardSave}}
      >
        {{t "confirmation.discardChanges"}}
      </AuButton>
      <AuButton
        @loading={{this.saveUnsavedChanges.isRunning}}
        @loadingMessage={{t "messages.loading.isSaving"}}
        {{on "click" (perform this.saveUnsavedChanges)}}
      >
        {{t "confirmation.saveChanges"}}
      </AuButton>

    </AuButtonGroup>
  </:footer>
</AuModal>