{{page-title 'Formbuilder'}}

<Toolbar
  @model={{this.model}}
  @code={{this.code}}
  @setActiveTab={{this.setActiveTab}}
  @formChanged={{this.formChanged}}
  @refresh={{this.refresh}}
  @setFormChanged={{this.setFormChanged}}
/>

<main id="main" class="au-c-main-container">
  <div class="au-c-main-container__content">
    <div class="playground">
      <div class="playground__edit">
        <div>
          Builder
          <AuToggleSwitch
            @checked={{this.isAddingValidationToForm}}
            @onChange={{this.toggleIsAddingValidationToForm}}
          >Validation</AuToggleSwitch>
        </div>
        <AuBodyContainer @scroll={{true}} class="au-o-box">
          {{#if this.isAddingValidationToForm}}
            <h1>Validation tab</h1>
            <ul>
              {{#each this.fieldsInForm as |field|}}
                <li>{{field.fieldName}}</li>
                <ul>
                  {{#each field.validationTypes as |type|}}
                    <li>{{type.value}}</li>
                  {{/each}}
                </ul>
                <AuButton
                  {{on 'click' (fn this.addIsRequiredValidationToForm)}}
                >Add is required node to form</AuButton>
                <AuButton
                  {{on 'click' (fn this.addIsRequiredValidationToField field)}}
                >Add is required validation to field</AuButton>
              {{/each}}
            </ul>
          {{else}}
            {{#if (and this.isInitialDataLoaded this.builderStore)}}
              <RdfForm
                @groupClass="au-o-grid__item"
                @form={{this.builderForm}}
                @graphs={{this.graphs}}
                @formStore={{this.builderStore}}
                @forceShowErrors={{true}}
                @useNewListingLayout={{true}}
                @sourceNode={{this.previewForm}}
              />
            {{else}}
              <AuLoader />
            {{/if}}
          {{/if}}
        </AuBodyContainer>
      </div>
      <div class="playground__show">
        <div class="au-u-margin-top-small">
          {{#if this.refresh.isRunning}}
            <AuLoader />
          {{else}}
            <RdfForm
              @groupClass="au-u-margin-left-small au-u-margin-top"
              @form={{this.previewForm}}
              @graphs={{this.graphs}}
              @sourceNode={{this.sourceNode}}
              @formStore={{this.previewStore}}
              @forceShowErrors={{true}}
              @useNewListingLayout={{true}}
            />
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</main>