{{page-title "Formbuilder"}}
<Toolbar 
  @model={{this.model}}
  @code={{this.code}}
  @setActiveTab={{this.setActiveTab}}
/>

<main id="main" class="au-c-main-container">
  <div class="au-c-main-container__content">
    <div class="playground">
      <div class="playground__edit">
        <div style="overflow-y: auto;">
          {{#if (eq this.activeTab "CODE")}}
            <div {{editor this.code this.refresh}} style="overflow: auto; height: 100%; width:100%"></div>  
          {{else if (eq this.activeTab "BUILDER")}}
            <div style="padding: 20px;">
              {{#if this.builderStore}}
                <RdfForm
                  @groupClass="au-o-grid__item"
                  @form={{this.builderForm}}
                  @graphs={{this.graphs}}
                  @formStore={{this.builderStore}}
                  @forceShowErrors={{true}}
                  @useNewListingLayout={{true}}
                  @sourceNode={{this.previewForm}}
                />
              {{/if}}
            </div>
            <div style="padding: 20px;">
              <AuButton
                {{on "click" this.serializeSourceToTtl}}>
                Serialize source to TTL
              </AuButton>
            </div>
          {{/if}}
        </div>

      </div>
      <div class="playground__show">
          <div class="au-u-margin-top-small">
            {{#if this.refresh.isRunning}}
              <AuLoader />
            {{else}}
              <RdfForm
                @groupClass="au-u-margin-left-small au-u-margin-top"
                @form={{this.previewForm}}
                @graphs={{this.graphs}}
                @sourceNode={{this.sourceNode}}
                @formStore={{this.previewStore}}
                @forceShowErrors={{true}}
                @useNewListingLayout={{true}}
              />
            {{/if}}
          </div>
        </div>
    </div>
  </div>
</main>


