{{page-title "Test"}}
<div class="formTestPage">
  <div class="formTestPage_form">
    {{#if (and this.formStore this.form)}}
      {{#if this.setupForm.isRunning}}
        <AuLoader />
      {{else}}
        <RdfForm
          @groupClass="au-u-margin-small "
          @form={{this.form}}
          @graphs={{this.model.graphs}}
          @formStore={{this.formStore}}
          @forceShowErrors={{false}}
          @useNewListingLayout={{true}}
          @sourceNode={{this.model.sourceNode}}
        />
      {{/if}}
    {{else}}
      <AuLoader />
    {{/if}}
  </div>
</div>