{{page-title "Test"}}
<AuToolbar @size="medium" @skin="tint" @border="bottom" as |Group|>
  <Group>
    <ul class="au-c-list-horizontal au-c-list-horizontal--small">
      <li class="au-c-list-horizontal__item">
        <AuLink
          @route="index"
          @skin="primary"
          @icon="arrow-left"
          @iconAlignment="left"
        >{{t "navigation.backToFormOverview"}}</AuLink>
      </li>
      <li class="au-c-list-horizontal__item">
        {{this.model.form.title}}
      </li>
    </ul>
  </Group>
</AuToolbar>
<div class="formTestPage">
  <div class="formTestPage_center">
    <div class="formTestPage_center--title">
      <h1 class="au-u-h3">
        {{this.model.form.title}}
      </h1>
    </div>
    <div class="formTestPage_center--form">
      {{#if (and this.formStore this.form)}}
        {{#if this.setupForm.isRunning}}
          <AuLoader />
        {{else}}
          <RdfForm
            @groupClass="au-u-margin-small "
            @form={{this.form}}
            @graphs={{this.model.graphs}}
            @formStore={{this.formStore}}
            @forceShowErrors={{false}}
            @useNewListingLayout={{true}}
            @sourceNode={{this.model.sourceNode}}
          />
        {{/if}}
      {{else}}
        <AuLoader />
      {{/if}}
    </div>
  </div>
</div>