<div>
  {{#if this.initialise.isRunning}}
    <AuLoader />
  {{else}}
    <PowerSelect
      @searchField="name"
      @searchEnabled={{true}}
      @selected={{this.selectedField}}
      @options={{this.fields}}
      @onChange={{this.setSelectedField}}
      @allowClear={{true}}
      @loadingMessage={{t "messages.loading.isLoading"}}
      @noMatchesMessage={{t "messages.feedback.noResults"}}
      as |field|
    >
      <span>
        {{field.name}}
      </span>
    </PowerSelect>

    <AuHr />

    {{#if this.selectedField}}
      <FieldValidationsForm
        @fieldSubject={{this.selectedField.subject}}
        @form={{this.selectedField.form}}
        @graphs={{this.graphs}}
        @store={{this.selectedField.store}}
        @updateTtlCodeWithField={{this.updateTtlCodeWithField}}
      />
    {{else}}
      <span class="formBuilderEdit__noFields">
        <p class="au-u-h3">{{t "messages.feedback.noFieldSelected"}}</p>
      </span>
    {{/if}}
  {{/if}}
</div>