<div>
  <div class="fieldSelectionForValidations">
    <AuDropdown @title={{"Select field"}} @skin="primary" role="menu">
      {{#each this.storesWithForm as |field|}}

        <AuButton
          {{on "click" (fn this.setSelectedField field)}}
          @skin="link"
          role="menuitem"
        >
          {{field.name}}
        </AuButton>
      {{/each}}

    </AuDropdown>
  </div>

  {{#if this.selectedField}}
    <strong>{{this.selectedField.name}}</strong>
    <FieldValidationsForm
      @fieldSubject={{this.selectedField.subject}}
      @form={{this.selectedField.form}}
      @graphs={{this.graphs}}
      @store={{this.selectedField.store}}
      @updateTtlCodeWithField={{this.updateTtlCodeWithField}}
    />
  {{else}}
    <AuLoader />
  {{/if}}
</div>