<div>
  <AuLabel>{{t "codelists.chooseConcept"}}</AuLabel>
  <PowerSelect
    @options={{this.options}}
    @selected={{this.selected}}
    @onChange={{this.setSelected}}
    @searchEnabled={{true}}
    @searchField="label"
    as |conceptScheme|
  >
    {{conceptScheme.label}}
  </PowerSelect>
</div>