<AuModal
  @title="Geef een naam aan je formulier"
  @modalOpen={{true}}
  @closeModal={{this.closeModal}}
  as |Modal|
>
  <Modal.Body>
    <div class="au-o-flow">
      <div class="au-o-flow--small">
        <AuLabel for="input-form-name" @required={{true}}>
          {{t "editNameModal.name"}}
        </AuLabel>
        <AuInput
          id="input-form-name"
          @width="block"
          @error={{this.inputErrorMessage}}
          @warning={{this.hasReachedMaxCharaters}}
          value={{this.name}}
          {{on "blur" this.handleNameChange.perform}}
        />
        <div class="input__helpTextAndCharacterCount">
          {{#if this.inputErrorMessage}}
            <AuHelpText @error={{true}}>{{this.inputErrorMessage}}</AuHelpText>
          {{else}}
            <span></span>
          {{/if}}
          <AuPill @size={{"small"}} class="au-u-margin-small">
            {{this.getCharacters}}
          </AuPill>
        </div>
      </div>
    </div>
  </Modal.Body>
  <Modal.Footer>
    <AuButton @disabled={{this.disableSubmit}} {{on "click" this.initiateForm}}>
      {{t "editNameModal.createForm"}}
    </AuButton>
  </Modal.Footer>
</AuModal>