<div class="playground__edit">
  <AuTabs as |Tab|>
    <Tab style="margin-bottom: 10px">
      <AuButton onClick={{fn (mut this.currentView) "CODE"}}>Code view</AuButton>
    </Tab>
    <Tab>
      <AuButton onClick={{fn (mut this.currentView) "TREE"}}>Tree view</AuButton>
    </Tab>
    <Tab>
      <AuButton onClick={{fn (mut this.currentView) "META"}}>Meta form</AuButton>
    </Tab>
  </AuTabs>

  <div style="overflow-y: auto;">
    {{#if (eq this.currentView "CODE")}}
      <div {{editor @template @refresh}} style="overflow: auto; height: 100%; width:800px"></div>  
    {{else if (eq this.currentView "TREE")}}
      <Tree 
        style="overflow: auto; width:800px;"
        @form={{this.form}}
        @graphs={{this.graphs}}
        @sourceNode={{this.node}}
        @formStore={{@store}}
        @refresh={{@refresh}}
      />
    {{else if (eq this.currentView "META")}}
      <RdfForm
        @groupClass="au-u-margin-left-small au-u-margin-top"
        @graphs={{this.graphs}}
        @sourceNode={{this.node}}
        @formStore={{this.forkingStore}}
        @show={{false}}
        @forceShowErrors={{false}}
        class="au-o-grid__item" />
    {{/if}}
  </div>

  <div class="playground__edit__footer">
    <AuButtonGroup>
      <AuButton {{on 'click' this.updateForm}}>Bewaar</AuButton>
      <AuButton {{on 'click' this.saveLocally}} @skin="secondary" @icon="download" @iconAlignment="left">Exporteer code</AuButton>
      <AuButton {{on "click" (fn (mut this.popup) true)}} @skin="tertiary" @icon="pencil" @iconAlignment="left">Bewerk naam en beschrijving</AuButton>
      <AuButton {{on "click" this.deleteForm }} @skin="tertiary" @icon="bin" @iconAlignment="left" @alert={{true}}>Verwijder</AuButton>
    </AuButtonGroup>
  </div>
</div>
<div class="playground__show">
  <div class="au-u-margin-top-small">
    {{#if @refresh.isRunning}}
      <AuLoader />
    {{else}}
      <RdfForm
        @groupClass="au-u-margin-left-small au-u-margin-top"
        @graphs={{this.graphs}}
        @sourceNode={{this.node}}
        @formStore={{@store}}
        @show={{false}}
        @forceShowErrors={{false}}
        class="au-o-grid__item" />
    {{/if}}
  </div>
</div>


<AuModal
  @title="Bewerk naam en beschrijving"
  @modalOpen={{this.popup}}
  @closeModal={{fn (mut this.popup) false}} as |Modal| >
  <Modal.Body>
    <div class="au-o-grid au-o-grid--small">
      <div class="au-o-grid__item au-1-1">
        <AuLabel for="input-filelabel">
          Naam
        </AuLabel>
        <AuInput id="input-filelabel" @value={{this.formLabel}}/>
      </div>
      <div class="au-o-grid__item au-1-1">
        <AuLabel for="input-filecomment">Beschrijving</AuLabel>
        <AuTextarea id="input-filecomment" rows="10" @width="block" @value={{this.formComment}}/>
      </div>
    </div>
  </Modal.Body>
  <Modal.Footer>
    <AuButton {{on 'click' this.updateForm}}>Bijwerken</AuButton>
  </Modal.Footer>
</AuModal>

{{#if this.saved}}
  <div class="alert-container">
    <AuAlert @icon="check" @title="Formulier werd bijgewerkt" @skin="success" {{on 'click' (fn (mut this.saved) false)}}>
    </AuAlert>
  </div>
{{/if}}

{{#if this.error}}
  <div class="alert-container">
    <AuAlert @icon="cross" @title="Er is een fout opgetreden" @skin="error" {{on 'click' (fn (mut this.saved) false)}} {{on 'click' (fn (mut this.error) false)}}>
    </AuAlert>
  </div>
{{/if}}