<div class="playground__edit">
  <div class="playground__edit__header">
    <AuHeading @level="2" @skin="4" class="au-u-margin-bottom-small">
      Stap 2: Vul placeholders in
    </AuHeading>
    <p class="au-u-margin-bottom-small">Voeg labels (name) en helpteksten (description)toe, en klik op “genereer formulier” om het te bekijken.</p>
  </div>
  <AuTextarea id={{this.textarea.id}} @width="block" @value={{@template}} onblur={{perform @refresh}} class="playground__edit__editor"/>
  <div class="playground__edit__footer">
    <AuButton {{on 'click' this.saveLocally}} @skin="secondary">Save as</AuButton>
    <AuButton {{on "click" (fn (mut this.popup) true)}}>Upload</AuButton>
  </div>
</div>
<div class="playground__show">
  <AuHeading @level="2" @skin="4" class="au-u-margin-bottom-small">
    Stap 3: Exporteer template
  </AuHeading>
  <p class="au-u-margin-bottom">Eens je tevreden bent van het formulier kan de template geëxporteerd worden voor development.</p>
  {{#if @refresh.isRunning}}
    <span>Rendering your glorious creation...</span>
  {{else}}
      <RdfForm
              @groupClass="au-u-margin-left-small"
              @form={{this.form}}
              @graphs={{this.graphs}}
              @sourceNode={{this.node}}
              @formStore={{@store}}
              @show={{false}}
              @forceShowErrors={{false}} />
  {{/if}}
</div>


<AuModal
  @modalTitle="Upload file"
  @modalOpen={{this.popup}}
  @closeModal={{fn (mut this.popup) false}} as |Modal| >
  <Modal.Body>
    <p>
      <AuLabel for="input-required-block">
        Label
        <AuPill>Verplicht</AuPill>
      </AuLabel>
      <AuInput id="input-required-block" @value={{this.formLabel}}/>
      </p>
    <p>
      <AuLabel for="input-filecomment">Comment</AuLabel>
      <AuTextarea id="input-filecomment" @width="block" @value={{this.formComment}}/>
    </p>
  </Modal.Body>
  <Modal.Footer>
    <AuButton {{on 'click' this.uploadToDB}}>Upload</AuButton>
  </Modal.Footer>
</AuModal>