<div class="playground__edit">
  <div class="playground__edit__header">
    <AuHeading @level="2" @skin="4" class="au-u-margin-bottom-small">
      Stap 2: Vul placeholders in
    </AuHeading>
    <p class="au-u-margin-bottom-small">Voeg labels (name) en helpteksten (description)toe, en klik op “genereer formulier” om het te bekijken.</p>
  </div>
  <AuTextarea id={{this.textarea.id}} @width="block" @value={{@template}} onblur={{perform @refresh}} class="playground__edit__editor"/>
  <div class="playground__edit__footer">
    <AuButtonGroup>
      <AuButton {{on 'click' this.saveLocally}} @skin="secondary" @icon="download" @iconAlignment="left">Exporteer code voor development</AuButton>
    </AuButtonGroup>
    <AuButtonGroup>
      <AuButton {{on 'click' this.updateForm}}>Bewaar formulier</AuButton>
      <AuButton {{on "click" (fn (mut this.popup) true)}} @skin="tertiary" @icon="pencil" @iconAlignment="left">Bewerk naam en beschrijving</AuButton>
      <AuButton {{on "click" this.deleteForm }} @skin="tertiary" @icon="bin" @iconAlignment="left" @alert={{true}}>Verwijder</AuButton>
    </AuButtonGroup>
  </div>
</div>
<div class="playground__show">
  <div>
    <AuHeading @level="2" @skin="4" class="au-u-margin-bottom-small">
      Stap 3: Exporteer template
    </AuHeading>
    <p class="au-u-margin-top">Eens je tevreden bent van het formulier kan de template geëxporteerd worden voor development.</p>
    <AuHr />
  </div>
  {{#if generatedForm}} yay!{{/if}}
  <div class="au-u-margin-top-small">
    {{#if @refresh.isRunning}}
      <AuLoader />
    {{else}}
        <RdfForm
                @groupClass="au-u-margin-left-small au-u-margin-top"
                @form={{this.form}}
                @graphs={{this.graphs}}
                @sourceNode={{this.node}}
                @formStore={{@store}}
                @show={{false}}
                @forceShowErrors={{false}}
                class="au-o-grid__item" />
    {{/if}}
  </div>
</div>


<AuModal
  @modalTitle="Bewerk naam en beschrijving"
  @modalOpen={{this.popup}}
  @closeModal={{fn (mut this.popup) false}} as |Modal| >
  <Modal.Body>
    <div class="au-o-grid au-o-grid--small">
      <div class="au-o-grid__item au-1-1">
        <AuLabel for="input-filelabel">
          Naam
        </AuLabel>
        <AuInput id="input-filelabel" @value={{this.formLabel}}/>
      </div>
      <div class="au-o-grid__item au-1-1">
        <AuLabel for="input-filecomment">Beschrijving</AuLabel>
        <AuTextarea id="input-filecomment" rows="10" @width="block" @value={{this.formComment}}/>
      </div>
    </div>
  </Modal.Body>
  <Modal.Footer>
    <AuButton {{on 'click' this.updateForm}}>Bijwerken</AuButton>
  </Modal.Footer>
</AuModal>

{{#if this.saved}}
  <div class="alert-container">
    <AuAlert @alertIcon="check" @alertTitle="Formulier werd bijgewerkt" @alertskin={{"success"}} {{on 'click' (fn (mut this.saved) false)}}>
    </AuAlert>
  </div>
{{/if}}

{{#if this.error}}
  <div class="alert-container">
    <AuAlert @alertIcon="cross" @alertTitle="Er is een fout opgetreden" @alertskin={{"error"}} {{on 'click' (fn (mut this.saved) false)}} {{on 'click' (fn (mut this.error) false)}}>
    </AuAlert>
  </div>
{{/if}}