<div class="playground__edit">
  <div class="playground__edit__header">
    <AuHeading @level="2" @skin="4" class="au-u-margin-bottom-small">
      Stap 2: Vul placeholders in
    </AuHeading>
    <p class="au-u-margin-bottom-small">Voeg labels (name) en helpteksten (description)toe, en klik op “genereer formulier” om het te bekijken.</p>
  </div>
  <AuTextarea id="textarea-regular" @width="block" @value={{@template}} onblur={{perform this.init @template}}  class="playground__edit__editor"/>
  <div class="playground__edit__footer">
    <AuButton {{on 'click' this.exportTTL}} @skin="secondary">Export</AuButton>
  </div>
</div>
<div class="playground__show">
  <AuHeading @level="2" @skin="4" class="au-u-margin-bottom-small">
    Stap 3: Exporteer template
  </AuHeading>
  <p class="au-u-margin-bottom-small">Eens je tevreden bent van het formulier kan de template geëxporteerd worden voor development.</p>
  {{#if this.init.isRunning}}
    <span>Rendering your glorious creation...</span>
  {{else}}
      <RdfForm
              @groupClass="au-o-grid__item au-u-1-1 au-u-1-2@medium"
              @form={{this.form}}
              @graphs={{this.graphs}}
              @sourceNode={{this.node}}
              @formStore={{this.store}}
              @show={{false}}
              @forceShowErrors={{false}} />
  {{/if}}
</div>