<div class="au-o-box">
    <RdfForm
            @groupClass="au-o-grid__item au-u-1-1 au-u-1-2@medium"
            @form={{this.form}}
            @graphs={{this.graphs}}
            @sourceNode={{this.source}}
            @formStore={{this.store}}
            @show={{@show}}
            @forceShowErrors={{false}} />
</div>