<nav>
  <div class="au-c-app-chrome">
    <AuToolbar
      @size="small"
      class="au-u-padding-top-none au-u-padding-bottom-none"
      as |Group|
    >
      <Group>
        <div>
          <AuLink
            @route="index"
            @skin="primary"
            @icon="arrow-left"
            @iconAlignment="left"
            @hideText={{true}}
          >
            {{t "navigation.backToFormOverview"}}
          </AuLink>
        </div>
        <div>
          {{#if @formChanged}}
            <AuPill @skin="warning" @icon="alert-triangle">
              {{t "toolbar.unSavedChanges"}}
            </AuPill>
          {{else}}
            <AuPill @skin="success" @icon="circle-check">
              {{t "toolbar.formUpToDate"}}
            </AuPill>
          {{/if}}
        </div>
        <div class="titleEdit">
          {{#if this.isEditingName}}
            <AuInput
              id="input-formName"
              value={{this.formLabel}}
              {{on "blur" this.handleFormNameChange}}
            />
            <AuButton
              @skin={{"primary"}}
              @icon={{"check"}}
              @hideText={{true}}
              {{on "click" this.updateFormName}}
            />
            <AuButton
              @skin={{"secondary"}}
              @icon={{"cross"}}
              @hideText={{true}}
              {{on "click" this.closeEditNameModal}}
            />
          {{else}}
            <h1 class="au-c-app-chrome__title">
              {{@model.label}}
            </h1>
            <AuButton
              @skin={{"link-secondary"}}
              @icon={{"pencil"}}
              @hideText={{true}}
              {{on "click" (fn (mut this.isEditingName) true)}}
            />
          {{/if}}
        </div>
      </Group>
      <Group class="au-c-toolbar__group--actions">
        <AuLink
          @route="codelijsten"
          @query={{hash formId=@model.id filter=null sort=null page=0}}
        >{{t "toolbar.codelists"}}</AuLink>
        <div class="saveSplitButton">
          <AuButton
            id="saveSplitButton_save"
            @disabled={{not @formChanged}}
            {{on "click" this.updateForm}}
          >{{t "crud.save"}}</AuButton>
          <AuDropdown
            id="saveSplitButton_dropdown"
            @title=""
            @hideText={{true}}
            @alignment="left"
            role="menu"
            @skin="primary"
          >
            <AuButton
              @skin="link"
              @icon="export"
              role="menuitem"
              {{on "click" this.saveLocally}}
            >
              {{t "toolbar.exportCode"}}
            </AuButton>
            <AuButton
              @skin="link"
              @icon="bin"
              role="menuitem"
              @alert={{true}}
              {{on "click" (fn (mut this.showDeleteModal) true)}}
            >
              {{t "crud.delete"}}
            </AuButton>
          </AuDropdown>
        </div>
      </Group>
    </AuToolbar>
  </div>
</nav>

{{#if this.showDeleteModal}}
  <ConfirmDeletionModal
    @onDelete={{this.deleteForm}}
    @onClose={{fn (mut this.showDeleteModal) false}}
  />
{{/if}}