<div style="flex: 1; overflow:auto;">
  <hr>
  <details>
    <summary>form</summary>
    {{#each this.tree as |group|}}
      <hr>
      <details style="margin-left: 20px;" class="au-u-background-gray-100 au-u-padding-small">
        <summary class="au-u-background-gray-200">Group</summary>
          <div style="margin-left: 10px;" >
            <strong>NAME: </strong>{{group.name}}
          </div>
          <div style="margin-left: 10px;">
            <strong>HELPTEXT: </strong>{{group.help}}
          </div>
          <button type="button" onClick={{fn this.showCode group.uri}}>Code</button>
        {{#each group.fields as |field|}}
          <hr>
          <details  style="margin-left: 10px;">
            <summary class="au-u-background-gray-200">Field</summary>
            <label style="margin-left: 10px;">
              <strong>NAME: </strong>
              <input type="text" value={{field.name}} {{on 'change' (fn this.updateName field)}}>
            </label>
            <div style="margin-left: 10px;">
              <strong>TYPE: </strong>{{field.fieldType}}
            </div>
            <div style="margin-left: 10px;">
              <strong>URI: </strong>{{field.uri}}
            </div>
            <button type="button" onClick={{fn this.showCode field.uri}}>Code</button>
            <hr>
            <details  style="margin-left: 10px;">
              <summary class="au-u-background-gray-200">Validations</summary>
              {{#each field.validations as |validation|}}
                {{validation}}
              {{/each}}
              <hr>
            </details>
            <hr>
          </details> 
        {{/each}}
        <hr>
      </details>
    {{/each}}
  </details>
</div>