<div>
  <AuLabel for={{this.inputId}}>
    {{t "validationTab.resultMessageLabel"}}
  </AuLabel>

  <AuInput
    @width="block"
    @error={{this.hasErrors}}
    id={{this.inputId}}
    value={{this.message}}
    {{on "blur" this.updateMessage}}
  />
</div>