<div class="builder_container">
  <PowerSelect
    @triggerId={{this.inputId}}
    @searchField="label"
    @searchEnabled={{true}}
    @selected={{this.selectedType}}
    @options={{this.typeOptions}}
    @onChange={{this.updatedSelectedValidation}}
    @allowClear={{false}}
    @loadingMessage={{t "messages.loading.isLoading"}}
    @noMatchesMessage={{t "messages.feedback.noResults"}}
    @disabled={{this.isDisabled}}
    as |concept|
  >
    <span>
      {{concept.label}}
    </span>
  </PowerSelect>
</div>