<div class="au-o-grid__item au-u-2-3@medium au-u-1-1">
  <RdfForm
          @groupClass="au-o-grid__item au-u-2-4 au-u-1-1@small"
          @form={{this.model.form}}
          @graphs={{this.model.graphs}}
          @sourceNode={{this.model.node}}
          @formStore={{this.model.graph}}
          @show={{false}}
          @forceShowErrors={{false}} />
</div>
<AuToolbar @border="top" @size="large">
  <AuToolbarGroup>
    <AuButton @disabled={{if (or this.save.isRunning this.submit.isRunning this.delete.isRunning) "true"}}
              @loading={{if this.submit.isRunning "true"}}
      {{on "click" (perform this.submit)}}>Verstuur
    </AuButton>
    <AuButton @disabled={{if (or this.save.isRunning this.submit.isRunning this.delete.isRunning) "true"}}
              @loading={{if this.save.isRunning "true"}}
              @skin={{"secondary"}}
              @icon={{if this.recentlySaved "check"}}
              @iconAlignment={{if this.recentlySaved "left"}}
      {{on "click" (perform this.save)}}>
      Bewaar
    </AuButton>
    <AuLink @linkRoute="user-tests.index" @skin="secondary">Annuleer</AuLink>
  </AuToolbarGroup>

  {{#unless this.model.submitted}}
    <AuToolbarGroup>
      <AuButton @disabled={{if (or this.save.isRunning this.submit.isRunning this.delete.isRunning) "true"}}
                @loading={{if this.reset.isRunning "true"}}
                @skin={{"tertiary"}}
                @alert={{"true"}}
        {{on "click" (perform this.reset)}}>
        <AuIcon @icon="renew" @alignment="left"/>
        Resetten
      </AuButton>
      <AuButton @disabled={{if (or this.save.isRunning this.submit.isRunning this.delete.isRunning) "true"}}
                @loading={{if this.delete.isRunning "true"}}
                @skin={{"tertiary"}}
                @alert={{"true"}}
        {{on "click" (perform this.delete)}}>
        <AuIcon @icon="bin" @alignment="left"/>
        Verwijder
      </AuButton>
    </AuToolbarGroup>
  {{/unless}}
</AuToolbar>