<main id="main" class="au-c-main-container">
  <div class="au-c-main-container__content">
    <div class="au-c-body-container">
      <div class="au-c-toolbar  au-c-toolbar--bottom  au-c-toolbar--large ">
        <div class="au-c-toolbar__group">
          <AuHeading @level="1" @skin="2">
            Test semantisch formulier
          </AuHeading>
        </div>


        <div class="au-c-toolbar__group">
          <AuButtonGroup>
            <AuLink @linkRoute="user-tests.index" @icon="arrow-left" @iconAlignment="left" @skin="secondary">Naar overzicht testbare formulieren</AuLink>
          </AuButtonGroup>
        </div>
      </div>
      <div class="au-c-body-container au-c-body-container--scroll">
        <div class="au-o-box">
          <RdfForm
                  @groupClass="au-o-grid__item  au-u-1-1 au-u-1-2@medium au-u-1-3@large"
                  @form={{this.model.form}}
                  @graphs={{this.model.graphs}}
                  @sourceNode={{this.model.node}}
                  @formStore={{this.model.graph}}
                  @show={{false}}
                  @forceShowErrors={{false}} />
        </div>
      </div>
    </div>
    <AuToolbar @border="top" @size="large">
      <AuToolbarGroup>
        {{!-- <AuButton @disabled={{if (or this.save.isRunning this.submit.isRunning this.delete.isRunning) "true"}}
                  @loading={{if this.submit.isRunning "true"}}
          {{on "click" (perform this.submit)}}>Verstuur (en terug naar overzicht)
        </AuButton> --}}
        <AuButton @disabled={{if (or this.save.isRunning this.submit.isRunning this.delete.isRunning) "true"}}
                  @loading={{if this.save.isRunning "true"}}
                  @icon={{if this.recentlySaved "check"}}
                  @iconAlignment={{if this.recentlySaved "left"}}
          {{on "click" (perform this.save)}}>
          Bewaar
        </AuButton>
        <AuLink @linkRoute="user-tests.index" @skin="secondary">Annuleer</AuLink>
      </AuToolbarGroup>

      {{#unless this.model.submitted}}
        <AuToolbarGroup>
          <AuButton @disabled={{if (or this.save.isRunning this.submit.isRunning this.delete.isRunning) "true"}}
                    @loading={{if this.reset.isRunning "true"}}
                    @skin={{"tertiary"}}
                    @alert={{"true"}}
            {{on "click" (perform this.reset)}}>
            <AuIcon @icon="renew" @alignment="left"/>
            Reset
          </AuButton>
          <AuButton @disabled={{if (or this.save.isRunning this.submit.isRunning this.delete.isRunning) "true"}}
                    @loading={{if this.delete.isRunning "true"}}
                    @skin={{"tertiary"}}
                    @alert={{"true"}}
            {{on "click" (perform this.delete)}}>
            <AuIcon @icon="bin" @alignment="left"/>
            Verwijder
          </AuButton>
        </AuToolbarGroup>
      {{/unless}}
    </AuToolbar>
  </div>
</main>