{{page-title "View form"}}

{{#unless this.shared}}
  <AuToolbar @size="medium" @skin="tint" @border="bottom" as |Group|>
    <Group>
      <ul class="au-c-list-horizontal au-c-list-horizontal--small">
        <li class="au-c-list-horizontal__item">
          <AuLink
            @route="index"
            @skin="primary"
            @icon="arrow-left"
            @iconAlignment="left"
          >{{t "navigation.backToFormOverview"}}</AuLink>
        </li>
        <li class="au-c-list-horizontal__item au-u-word-break">
          {{this.model.form.title}}
        </li>
      </ul>
    </Group>
  </AuToolbar>
{{/unless}}

<div class="formTestPage">
  <div class="formTestPage_center">
    <div class="formTestPage_center--title">
      <h1 class="au-u-h3">
        {{this.model.form.title}}
      </h1>

      {{#unless this.shared}}
        <AuButton
          @icon="link"
          @skin="naked"
          @hideText={{true}}
          {{on "click" this.copyTestFormUrl}}
        />
      {{/unless}}

    </div>
    <div class="formTestPage_center--form">
      {{#if (and this.formStore this.form)}}
        {{#if this.setupForm.isRunning}}
          <AuLoader />
        {{else}}
          <RdfForm
            @groupClass="au-u-margin-small "
            @form={{this.form}}
            @graphs={{this.model.graphs}}
            @formStore={{this.formStore}}
            @forceShowErrors={{this.forceShowErrors}}
            @useNewListingLayout={{true}}
            @sourceNode={{this.model.sourceNode}}
          />
        {{/if}}
      {{else}}
        <AuLoader />
      {{/if}}
    </div>
    <div class="formTestPage_center--actions">
      <AuButtonGroup>
        <AuButton
          @icon="synchronize"
          @iconAlignment="left"
          {{on "click" this.testForm}}
        >
          {{t "crud.testForm"}}
        </AuButton>
      </AuButtonGroup>
    </div>

    {{#if this.shared}}
      <div class="formTestPage_center--branding">
        <img src="/assets/images/transparant_logo.svg" alt="" />
        <h1>{{t "main.semanticForms"}}</h1>
      </div>
    {{/if}}
  </div>
</div>