{{page-title "Builder"}}

<div class="builder_content-container">
  {{#if (and this.builderStore this.builderForm)}}
    <RdfForm
      @groupClass="au-o-grid__item"
      @form={{this.builderForm}}
      @graphs={{this.model.graphs}}
      @formStore={{this.builderStore}}
      @forceShowErrors={{false}}
      @useNewListingLayout={{true}}
      @sourceNode={{this.previewForm}}
    />
  {{else}}
    <AuLoader />
  {{/if}}
</div>