{{page-title "Code editor"}}

<div class="au-c-body-container au-u-margin-bottom-none">
  {{!template-lint-disable no-inline-styles}}
  <AuBodyContainer
    @scroll={{true}}
  >
    <AuContent
      @skin="small"
      {{editor this.formCode (perform this.handleCodeChange)}}>
    </AuContent>
  </AuBodyContainer>
  <AuButton 
    {{!-- class="au-u-margin" --}}
    {{on "click" this.toggleCollapsed}}
  >Console</AuButton>
  <AuBodyContainer class="au-u-background-gray-100 {{if this.collapsed 'au-u-hidden'}}">
    <AuBodyContainer class="au-u-background-gray-200 au-u-margin">
      <AuContent 
        class="console au-u-margin"
      >
        content
      </AuContent>
    </AuBodyContainer>
  </AuBodyContainer>
</div>