{{page-title "Code editor"}}

<div class="au-c-body-container au-u-margin-bottom-none">
  <AuBodyContainer
    @scroll={{true}}
  >
    <AuContent
      @skin="small"
      {{editor this.formCode (perform this.handleCodeChange)}}>
    </AuContent>
  </AuBodyContainer>
  <div>
    <AuButton 
      @width="block"
      {{on "click" this.toggleCollapsed}}
    >
      Console
    </AuButton>
  </div>
  {{#unless this.collapsed}}
  <AuBodyContainer class="au-u-background-gray-100">
    <AuBodyContainer 
      class="au-u-background-gray-200 au-u-margin"
      @scroll={{true}}
    >
      {{#each this.warnings as |warning|}}
        <AuContent
          class="au-o-box--flush au-u-background-gray-100 au-u-margin-top-tiny"
        >
          {{warning.subject}} {{warning.message}}
        </AuContent>
      {{/each}}
    </AuBodyContainer>
  </AuBodyContainer>
  {{/unless}}
</div>