{{page-title "Code editor"}}

<div class="au-c-body-container au-u-margin-bottom-none">
  <AuBodyContainer
    @scroll={{true}}
  >
    <AuContent
      @skin="small"
      {{editor this.formCode (perform this.handleCodeChange)}}>
    </AuContent>
  </AuBodyContainer>
  <div>
    <AuButton 
      @width="block"
      {{on "click" this.toggleCollapsed}}
    >
      Console Meldingen: {{this.warnings.length}}
    </AuButton>
  </div>
  {{#unless this.collapsed}}
  <AuBodyContainer class="code-edit-console__container">
    <AuBodyContainer 
      class="code-edit-console au-u-margin"
      @scroll={{true}}
    >
      {{#each this.warnings as |warning|}}
        <AuContent
          class="code-edit-warning au-u-margin-top-tiny"
        >
          <AuIcon @icon="alert-triangle" @size="large" @alignment="left"/>
          <span>WARNING {{warning.subject}}</span>
          <div class="au-u-text-right au-u-margin-top-tiny au-u-bold">{{warning.message}}</div>
        </AuContent>
      {{/each}}
    </AuBodyContainer>
  </AuBodyContainer>
  {{/unless}}
</div>