{{page-title "Validations"}}

<div class="formBuilderEdit__builder au-u-padding-small">
  {{#if this.formCode}}
    <AddValidationsToForm
      @builderTtlCode={{this.formCode}}
      @sourceNode={{@model.form}}
      @onNewBuilderForm={{this.handleCodeChange}}
    />
  {{else}}
    <AuLoader />
  {{/if}}
</div>