{{page-title "Validations"}}

<div class="builder_container">
  {{#if this.setup.isRunning}}
    <AuLoader />
  {{else}}
    <div class="builder_filter-bar">
      <PowerSelect
        @searchField="name"
        @searchEnabled={{true}}
        @selected={{this.selectedField}}
        @options={{this.fields}}
        @onChange={{this.setSelectedField}}
        @allowClear={{true}}
        @loadingMessage={{t "messages.loading.isLoading"}}
        @noMatchesMessage={{t "messages.feedback.noResults"}}
        as |field|
      >
        <span>
          {{field.name}}
        </span>
      </PowerSelect>
    </div>
  {{/if}}

  <div class="builder_content-container">
    {{#if this.setup.isRunning}}
      <AuLoader />
    {{else}}
      {{#each this.fieldValidations as |validation|}}
        <AuCard @expandable={{false}} as |c|>
          <c.header>
            <AuHeading @level="2" @skin="4">
              <Validation::TypeSelector
                @validationType={{validation.type}}
                @typeOptions={{this.validationsForFieldDisplayType}}
              />
            </AuHeading>
          </c.header>
          <c.content>
            {{#if validation.type}}
              <Validation::ResultMessage
                @validationConfig={{validation}}
                @defaultMessage={{this.getDefaultErrorMessageForType
                  validation.type.object
                }}
              />
            {{/if}}
          </c.content>
        </AuCard>
      {{/each}}
      {{#if this.selectedField}}
        <AuButton
          @skin="secondary"
          @icon="add"
          @iconAlignment="left"
          @width="block"
          {{on "click" this.addEmptyValidation}}
        >
          {{t "validationTab.addValidation"}}
        </AuButton>
      {{/if}}
    {{/if}}
  </div>
</div>