<AuCard @expandable={{false}} as |c|>
  <c.header>
    <AuHeading @level="2" @skin="4" class="au-u-text-center">
      {{this.section.name.value}}
    </AuHeading>
  </c.header>
  <c.content>
    <div class="au-u-flex au-u-flex--row au-u-flex--between">
      <span>
        <AuLabel for="input-column-min-constraint">{{t
            "tableConfiguration.minColumnsLabel"
          }}</AuLabel>
        <AuInput
          @width="block"
          type="number"
          min={{this.limits.min}}
          max={{this.limits.max}}
          value={{this.minValue}}
          id="input-column-min-constraint"
          {{on "blur" this.updateMinValue}}
        />
      </span>
      <span>
        <AuLabel for="input-column-max-constraint">{{t
            "tableConfiguration.maxColumnsLabel"
          }}</AuLabel>
        <AuInput
          @width="block"
          type="number"
          min={{this.limits.min}}
          max={{this.limits.max}}
          value={{this.maxValue}}
          id="input-column-max-constraint"
          {{on "blur" this.updateMaxValue}}
        />
      </span>
    </div>
    <AuCheckbox
      @checked={{this.isShowingTableIndices}}
      @onChange={{this.showIndicesInTable}}
    >
      {{t "tableConfiguration.showIndices"}}
    </AuCheckbox>
    {{#if this.isShowingTableIndices}}
      <AuInput
        @width="block"
        value={{this.indexColumnLabel}}
        id="input-label-index-column"
        {{on "blur" this.updateIndexLabel}}
      />
    {{/if}}
  </c.content>
</AuCard>