{{page-title "Edit"}}

<AuMainHeader
  @appTitle={{t "main.appTitle"}}
  @brandLink={{t "main.brandLink"}}
  @homeRoute="index"
/>

<AuToolbar @size="medium" @skin="tint" @border="bottom" as |Group|>
  <Group>
    <ul class="au-c-list-horizontal au-c-list-horizontal--small">
      <li class="au-c-list-horizontal__item">
        <AuLink
          @route="codelijsten"
          @skin="primary"
          @icon="arrow-left"
          @iconAlignment="left"
        >{{t "navigation.backToCodelists"}}</AuLink>
      </li>
      <li class="au-c-list-horizontal__item au-u-word-break">
        {{this.schemeName}}
      </li>
    </ul>
  </Group>
  <Group class="au-c-toolbar__group--actions">
    <div class="saveSplitButton">
      <AuButton
        id="saveSplitButton_save"
        @loading={{this.setup.isRunning}}
        @loadingMessage={{t "messages.loading.isLoading"}}
        @disabled={{this.isSaveDisabled}}
        {{on "click" this.save}}
      >
        {{t "crud.save"}}
      </AuButton>

      {{#if (this.opposite this.splitButtonHasActiveActions)}}
        <span id="saveSplitButton_dropdown">
          <AuButton
            @disabled={{true}}
            @hideText={{true}}
            @icon="nav-down"
            @alignment="left"
            @skin="primary"
          >
            {{t "crud.save"}}
          </AuButton>
        </span>
      {{else}}
        <AuDropdown
          id="saveSplitButton_dropdown"
          @title=""
          @hideText={{true}}
          @alignment="left"
          role="menu"
          @skin="primary"
        >
          <AuButton
            @skin="link"
            @icon="archive"
            @iconAlignment="left"
            role="menuitem"
            @disabled={{this.opposite this.canArchiveCodelist}}
            @loadingMessage={{t "messages.loading.isArchiving"}}
            {{on "click" (fn (mut this.isArchiveModalOpen) true)}}
          >
            {{t "crud.archive"}}
          </AuButton>
          <AuButton
            @skin="link"
            @icon="export"
            @iconAlignment="left"
            role="menuitem"
            @disabled={{this.opposite this.canExportCodelist}}
            @loadingMessage={{t "messages.loading.downloading"}}
            {{on "click" this.exportCodelist}}
          >
            {{t "actions.exportCodelist"}}
          </AuButton>
        </AuDropdown>
      {{/if}}
    </div>
  </Group>
</AuToolbar>
{{#if this.setup.isRunning}}
  <AuLoader />
{{else}}
  <div class="codelijsten__scroll">
    <span class="au-u-padding">
      {{#if this.isPrivateConceptScheme}}
        <AuAlert @title={{"Opgelet"}} @skin={{"warning"}} @icon={{"login"}}>
          <p>{{t "codelists.alert.genericCodelist"}}</p>
        </AuAlert>
      {{else}}
        {{#if this.isArchivedConceptScheme}}
          <AuAlert @title={{"Opgelet"}} @skin={{"info"}} @icon={{"archive"}}>
            <p>{{t "codelists.alert.archivedCodelist"}}</p>
          </AuAlert>
        {{/if}}
      {{/if}}

      <div class="au-u-3-5 au-u-margin-bottom-large">
        <AuLabel for="input-codelist-name" @required={{true}}>
          {{t "codelists.nameOfCodelist"}}
        </AuLabel>
        <AuInput
          id="input-codelist-name"
          @width="block"
          @error={{this.schemeNameErrorMessage}}
          @disabled={{this.isReadOnly}}
          value={{this.schemeName}}
          {{on "blur" this.updateSchemeName}}
        />
        {{#if this.schemeNameErrorMessage}}
          <AuHelpText
            @error={{true}}
          >{{this.schemeNameErrorMessage}}</AuHelpText>
        {{/if}}
      </div>
      <div class="au-u-3-5 au-u-margin-bottom-large">
        {{#if this.isReadOnly}}
          <p>{{this.schemeDescription}}</p>
        {{else}}
          <AuLabel for="input-codelist-description" @required={{true}}>
            {{t "codelists.descriptionOfCodelist"}}
          </AuLabel>
          <AuTextarea
            id="input-codelist-description"
            @width="block"
            @error={{this.schemeDescriptionErrorMessage}}
            @disabled={{this.isReadOnly}}
            value={{this.schemeDescription}}
            {{on "blur" this.updateSchemeDescription}}
          />
          {{#if this.schemeDescriptionErrorMessage}}
            <AuHelpText
              @error={{true}}
            >{{this.schemeDescriptionErrorMessage}}</AuHelpText>
          {{/if}}
        {{/if}}
      </div>
    </span>
    <div>
      <SortableObjects
        @sortableObjectList={{this.conceptList}}
        @enableSort={{true}}
        @useSwap={{true}}
        @inPlace={{true}}
        @sortEndAction={{this.updateOrderOfConcepts}}
      >
        <AuTable class="au-u-margin-bottom-small">
          <:header>
            <tr>
              <th>{{t "table.columns.label"}}</th>
              {{#unless this.isReadOnly}}
                <th>{{t "table.columns.actions"}}</th>
              {{/unless}}
            </tr>
          </:header>
          <:body>
            {{#if this.conceptList}}
              {{#each this.conceptList as |concept|}}
                <DraggableObject
                  @content={{concept}}
                  @tagName="tr"
                  @isSortable={{true}}
                  @dragHandle=".drag-icon-cell"
                >
                  {{#if this.isReadOnly}}
                    <td class="au-u-visible-medium-up">
                      {{concept.label}}</td>
                  {{else}}
                    <td
                      class="au-u-visible-medium-up column-cell-with-two-items"
                    >
                      <div class="drag-icon-cell">
                        <AuIcon @icon="drag" />
                      </div>
                      <AuInput
                        @width="block"
                        id={{concept.id}}
                        value={{concept.label}}
                        {{on "blur" (fn this.updateConceptLabel concept)}}
                      /></td>
                  {{/if}}
                  {{#unless this.isReadOnly}}
                    <td class="au-u-visible-medium-up">
                      <AuButton
                        @icon="bin"
                        @hideText={{true}}
                        @iconAlignment="left"
                        @alert={{true}}
                        @loadingMessage={{t "messages.loading.isDeleting"}}
                        {{on "click" (fn this.temporaryDeleteConcept concept)}}
                      >
                        {{t "crud.delete"}}
                      </AuButton>
                    </td>
                  {{/unless}}
                </DraggableObject>
              {{/each}}
            {{/if}}
            {{#unless this.isReadOnly}}
              <tr>
                <td class="au-u-visible-medium-up">
                  <AuButton
                    @skin="secondary"
                    @icon="plus"
                    @iconAlignment="left"
                    {{on "click" this.addNewConcept}}
                  >
                    {{t "codelists.addConcept"}}
                  </AuButton>
                </td>
                <td></td>
              </tr>
            {{/unless}}
          </:body>
        </AuTable>
      </SortableObjects>
    </div>
  </div>
{{/if}}

<AuModal
  @modalOpen={{this.isArchiveModalOpen}}
  @closeModal={{fn (mut this.isArchiveModalOpen) false}}
>
  <:title>{{t "confirmation.archiveCodelistTitle"}}</:title>
  <:body>
    {{t "confirmation.archiveCodelistQuestion"}}
  </:body>
  <:footer>
    <AuButtonGroup>
      <AuButton
        @icon="archive"
        @iconAlignment="left"
        @skin="primary"
        @loadingMessage={{t "messages.loading.isArchiving"}}
        @loading={{this.archiveCodelist.isRunning}}
        {{on "click" (perform this.archiveCodelist)}}
      >
        {{t "crud.archive"}}
      </AuButton>
      <AuButton
        @skin="secondary"
        @disabled={{this.archiveCodelist.isRunning}}
        {{on "click" (fn (mut this.isArchiveModalOpen) false)}}
      >
        {{t "crud.cancel"}}
      </AuButton>
    </AuButtonGroup>
  </:footer>
</AuModal>

<AuModal
  @modalOpen={{this.isSaveModalOpen}}
  @closeModal={{fn (mut this.isSaveModalOpen) false}}
>
  <:title>{{t "confirmation.saveUnsavedChangesTitle"}}</:title>
  <:body>
    {{t "confirmation.saveUnsavedChangesQuestion"}}
  </:body>
  <:footer>
    <AuButtonGroup class="au-u-flex--between">
      <AuButton @alert={{true}} @skin="link" {{on "click" this.discardSave}}>
        {{t "confirmation.discardChanges"}}
      </AuButton>
      <AuButton
        @disabled={{this.pageHasErrors}}
        @loading={{this.saveUnsavedChanges.isRunning}}
        @loadingMessage={{t "messages.loading.isSaving"}}
        {{on "click" (perform this.saveUnsavedChanges)}}
      >
        {{t "confirmation.saveChanges"}}
      </AuButton>

    </AuButtonGroup>
  </:footer>
</AuModal>