{{page-title "Edit"}}

<AuToolbar @size="medium" @skin="tint" @border="bottom" as |Group|>
  <Group>
    <ul class="au-c-list-horizontal au-c-list-horizontal--small">
      <li class="au-c-list-horizontal__item">
        <AuLink
          @route="codelijsten"
          @skin="primary"
          @icon="arrow-left"
          @iconAlignment="left"
        >Terug naar codelijsten</AuLink>
      </li>
      <li class="au-c-list-horizontal__item au-u-bold">
        Codelijst detail
      </li>
    </ul>
  </Group>
</AuToolbar>

<div class="codelijsten__edit">
  <span class="au-u-padding">
    {{#if this.isGenericConceptScheme}}
      <AuAlert @title={{"Opgelet"}} @skin={{"warning"}} @icon={{"login"}}>
        <p>Generieke codelijsten kunnen niet aangepast worden.</p>
      </AuAlert>
    {{/if}}
    <div class="au-u-3-5 au-u-margin-bottom-large">
      <AuLabel for="input-codelist-name" @required={{true}}>
        Naam van de codelijst
      </AuLabel>
      <AuInput
        id="input-codelist-name"
        @width="block"
        @disabled={{this.isGenericConceptScheme}}
        value={{this.name}}
      />
    </div>
  </span>
  <div>
    <AuTable class="au-u-margin-bottom-small">
      <:header>
        <tr>
          <th>Label</th>
        </tr>
      </:header>
      <:body>
        {{#each this.concepts as |concept|}}
          <tr>
            <td class="au-u-visible-medium-up">
              {{#if this.isGenericConceptScheme}}
                <td>{{concept.label}}</td>
              {{else}}
                <td><AuInput id={{concept.id}} value={{concept.label}} /></td>
              {{/if}}
            </td>
          </tr>
        {{/each}}
      </:body>
    </AuTable>
  </div>
</div>