{{page-title "Concept schemes"}}

<AuMainHeader
  @appTitle={{t "main.appTitle"}}
  @brandLink={{t "main.brandLink"}}
  @homeRoute="index"
/>

<AuToolbar @size="medium" @skin="tint" @border="bottom" as |Group|>
  <Group>
    <ul class="au-c-list-horizontal au-c-list-horizontal--small">
      <li class="au-c-list-horizontal__item">
        <AuButton
          @skin="link"
          @icon="arrow-left"
          @iconAlignment="left"
          {{on "click" this.routeToFormWithId}}
        >{{this.routeLabel}}</AuButton>
      </li>
      <li class="au-c-list-horizontal__item">
        {{t "navigation.tabs.codelists"}}
      </li>
    </ul>
  </Group>
</AuToolbar>

<div class="au-c-toolbar--bottom au-c-toolbar--large header">
  <div class="au-c-toolbar__group">
    <AuHeading @level="1" @skin="2">
      {{t "navigation.tabs.codelists"}}
    </AuHeading>
  </div>
  <div class="header__createAndSearch">
    <AuInput
      placeholder={{t "codelists.searchPlaceholder"}}
      @icon="search"
      @iconAlignment="left"
      id="input-searchCodelist"
      value={{this.filter}}
      {{on "keyup" this.searchCodelist.perform}}
    />
    <AuLink
      @route="codelijsten.new"
      @skin="button"
      @icon="plus"
      @iconAlignment="left"
    >{{t "codelists.createCodelist"}}
    </AuLink>
  </div>
</div>

<main id="main" class="au-c-main-container">
  <div class="au-c-main-container__content">
    <div class="au-c-body-container removeTableLines">
      <AuDataTable
        @content={{this.model}}
        @isLoading={{this.isLoadingModel}}
        @noDataMessage={{this.translations.noCodelistsFound}}
        @sort={{this.sort}}
        @page={{this.page}}
        @size={{this.size}}
        as |t|
      >
        <t.content as |c|>
          <c.header>
            <AuDataTableThSortable
              @label={{this.translations.columnName}}
              @field="preflabel"
              @currentSorting={{this.sort}}
              class="au-u-visible-medium-up"
            />
            <th colspan="1">{{this.translations.columnId}}</th>
            <th colspan="1"></th>
          </c.header>
          <c.body as |codelist|>
            <td class="au-u-visible-medium-up au-u-word-break">
              <AuLink
                @route="codelijsten.edit"
                @model={{codelist.id}}
                @ariaHidden={{true}}
              >{{codelist.label}}</AuLink>
            </td>
            <td class="au-u-visible-medium-up">{{codelist.id}}</td>
            <td class="au-u-visible-medium-up">
              {{#if codelist.isPublic}}
                <AuPill
                  @skin="success"
                  @icon="info-circle"
                  @iconAlignment="left"
                >{{this.translations.publicType}}
                </AuPill>
                {{#if codelist.isArchived}}
                  <AuPill
                    @skin="default"
                    @icon="archive"
                    @iconAlignment="left"
                  >{{this.translations.archivedType}}
                  </AuPill>
                {{/if}}
              {{else}}
                <AuPill
                  @skin="warning"
                  @icon="info-circle"
                  @iconAlignment="left"
                >{{this.translations.privateType}}
                </AuPill>
              {{/if}}
            </td>
          </c.body>
        </t.content>
      </AuDataTable>
    </div>
  </div>
</main>