{{page-title "Concept schemes"}}

<AuToolbar @size="medium" @skin="tint" @border="bottom" as |Group|>
  <Group>
    <ul class="au-c-list-horizontal au-c-list-horizontal--small">
      <li class="au-c-list-horizontal__item">
        <AuLink
          @route="index"
          @skin="primary"
          @icon="arrow-left"
          @iconAlignment="left"
        >Terug naar formulierenbouwer</AuLink>
      </li>
      <li class="au-c-list-horizontal__item au-u-bold">
        Codelijsten
      </li>
    </ul>
  </Group>
</AuToolbar>

<div class="au-c-toolbar au-c-toolbar--bottom au-c-toolbar--large">
  <div class="au-c-toolbar__group">
    <AuHeading @level="1" @skin="2">
      Codelijsten
    </AuHeading>
  </div>
  <div class="au-c-toolbar__group">
    <AuButtonGroup>
      <AuLink
        @route="codelijsten.new"
        @skin="button"
        @icon="plus"
        @iconAlignment="left"
      >Maak een codelijst</AuLink>
    </AuButtonGroup>
  </div>
</div>

<main id="main" class="au-c-main-container">
  <div class="au-c-main-container__content">
    {{! Code below is the original codelist page }}
    {{#if this.features.SHOW_ORIGNAL_CODELIST_PAGE}}
      <div class="playground">
        <div class="playground__codelist">
          {{!
          Glimmer components only have two lifecycle hooks
          This method will set the view to start without a scheme selected
        }}
          {{this.updateSelectedSchemeTo undefined}}

          <AuHeading @level="2" @skin="3" class="au-u-light">Kies een concept
            scheme waarvan u de inhoud wil bekijken</AuHeading>

          <div class="au-u-margin-top au-u-margin-bottom">
            <ConceptSchemeUriSelector @update={{this.updateSelectedSchemeTo}} />
          </div>

          <div class="au-u-margin-bottom">
            <AuLabel>URI: geeft meer informatie en activeert de concept scheme</AuLabel>
            <AuContent class="au-u-margin-bottom">
              {{#if this.scheme.uri}}
                <AuPanel as |Section|>
                  <Section class="playground__codelist_code">
                    <a
                      class="au-c-link"
                      href={{this.scheme.uri}}
                      rel="noopener noreferrer"
                      target="_blank"
                    >{{this.scheme.uri}}</a>
                  </Section>
                </AuPanel>
                <AuPanel as |Section|>
                  <Section class="playground__codelist_code">
                    <pre>{{this.configurationCode}}</pre>
                  </Section>
                </AuPanel>
              {{else}}
                <AuHelpText @skin="tertiary">Kies eerst een concept scheme.</AuHelpText>
              {{/if}}
              <AuAlert
                @icon="info-circle"
                @title="Hoe de concept scheme gebruiken:"
                @skin="info"
                @size="small"
              >
                <ul class="au-u-margin-bottom-small">
                  <li>Kopieer de link en plak ze bij
                    <strong>form:options</strong>
                    en vervang de link achter
                    <strong>conceptScheme</strong>
                    om de concept scheme te activeren.</li>
                  <li>Sommige links omvatten meer informatie over de concept
                    scheme zelf. Klik op de link om die informatie te
                    achterhalen.</li>
                </ul>
                <img
                  src="/img/example-concept-scheme.png"
                  style="border: 1px solid lightgray;"
                  alt="concept scheme"
                  {{! template-lint-disable no-inline-styles}}
                />
              </AuAlert>
            </AuContent>
          </div>

        </div>
        <div class="playground__show">

          <AuContent class="au-u-margin-bottom">
            <AuLabel>Bekijk inhoud van concept schemes</AuLabel>
            {{#if this.scheme.uri}}
              <ul>
                {{#each this.scheme.concepts as |concept|}}
                  <li>
                    {{concept}}
                  </li>
                {{/each}}
              </ul>
            {{else}}
              <AuHelpText @skin="tertiary">Kies eerst een concept scheme in het
                linkerveld.</AuHelpText>
            {{/if}}
          </AuContent>
        </div>
      </div>
    {{else}}
      {{! Start new codelist page }}
      <AuTable class="au-u-margin-bottom-small">
        <:header>
          <tr>
            <th>Naam</th>
            <th>Id</th>
            <th></th>
          </tr>
        </:header>
        <:body>
          {{#each this.model as |conceptScheme|}}
            <tr>
              <td class="au-u-visible-medium-up">
                <AuLink
                  @route="codelijsten.edit"
                  @model={{conceptScheme.id}}
                  @ariaHidden={{true}}
                >{{conceptScheme.label}}</AuLink>
              </td>
              <td class="au-u-visible-medium-up">{{conceptScheme.id}}</td>
              <td>
                {{#if conceptScheme.isPublic}}
                  <AuPill
                    @skin="success"
                    @icon="info-circle"
                    @iconAlignment="left"
                  >Eigen codelijst
                  </AuPill>
                {{else}}
                  <AuPill
                    @skin="warning"
                    @icon="info-circle"
                    @iconAlignment="left"
                  >Generiek
                  </AuPill>
                {{/if}}
              </td>
            </tr>
          {{/each}}
        </:body>
      </AuTable>
    {{/if}}
  </div>
</main>

{{outlet}}