<div id={{this.id}}>
  <AuTable>
    <:title><AuLabel
        class="au-u-padding-top-tiny"
        @warning={{this.comparisonWarningMessage}}
      >{{this.fieldName}}</AuLabel></:title>
    <:header>
      <tr>
        <th>{{this.expenseResultColumn.name}}</th>
        <th>{{this.incomeResultColumn.name}}</th>
      </tr>
    </:header>
    <:body>
      <tr>
        <td>{{this.formatAmount this.expenseResultColumn.outcome}}</td>
        <td>{{this.formatAmount this.incomeResultColumn.outcome}}</td>
      </tr>
    </:body>
    <:footer>
      {{#if this.comparisonWarningMessage}}
        <AuHelpText
          class="au-u-padding-tiny au-u-padding-left"
          @warning={{this.comparisonWarningMessage}}
        >{{this.comparisonWarningMessage}}</AuHelpText>
      {{/if}}
      {{#if this.collectionErrorMessage}}
        <AuHelpText
          class="au-u-padding-tiny au-u-padding-left"
          @error={{this.collectionErrorMessage}}
        >{{this.collectionErrorMessage}}</AuHelpText>
      {{/if}}
    </:footer>
  </AuTable>
</div>