<div id={{this.id}}>
  <AuLabel @error={{this.errorMessage}}>{{this.fieldName}}</AuLabel>
  {{#each this.totals as |total|}}
    <div class="au-u-flex au-u-flex--row au-u-flex--spaced">
      <AuLabel>
        Totaal:
        {{total.id}}
      </AuLabel>
      {{#if total.calculationResult}}
        <p> <strong>{{this.formatAmount total.calculationResult}}</strong></p>
      {{/if}}
    </div>
  {{/each}}
  <AuHelpText @error={{this.errorMessage}}>{{this.errorMessage}}</AuHelpText>
</div>