<AuLabel
    for={{this.inputId}}
  >
    {{@field.label}}
</AuLabel>

{{#if this.features.USE_DEFAULT_ERROR_MESSAGE}}
  <AuCheckbox @onChange={{this.toggle}} @checked={{this.useCustomMessage}}>Gebruik een aangepaste foutmelding</AuCheckbox>
{{/if}}

{{#if this.useCustomMessage}}
<div>
  <AuInput
    @error={{this.hasErrors}}
    @width={{if @inTable "block"}}
    id={{this.inputId}}
    value={{this.value}}
    {{on "blur" this.updateValue}}
  />
</div>
{{/if}}