<AuMainHeader @appTitle="Semantic form builder" @brandLink="https://www.vlaanderen.be/nl" @homeRoute="index"/>
<div class="au-c-toolbar  au-c-toolbar--bottom  au-c-toolbar--large ">
  <div class="au-c-toolbar__group">

    <AuHeading @level="1" @skin="2">
      Semantische Formulierenbouwer Loket
    </AuHeading>
  </div>
</div>

<main id="main" class="au-c-main-container">
  <div class="au-c-main-container__sidebar">
    <div class="au-c-sidebar">
      <div class="au-c-sidebar__content">
        <div class="au-c-sidebar__header">
          <InputTypesList @insertFieldInForm={{this.insertFieldInForm}}/>
          <ul class="au-c-list-navigation">
            <li class="au-c-list-navigation__item">
              <AuCard @flex={{true}} class="au-o-box--tiny" as |c|>
                <c.header @badgeIcon="manual" @badgeSkin="border" @badgeSize="small">
                  <AuHeading @level="3" @skin="6">
                    Tekstveld alinea
                  </AuHeading>
                  <div class="au-c-button-group ">
                    <AuButton @icon="add" @flex={{true}} @hideText={{true}} @skin="tertiary">
                      Voeg toe
                    </AuButton>
                </div>
                </c.header>
              </AuCard>
              <AuCard @expandable={{true}} @flex={{true}} @divided={{true}} class="au-o-box--tiny" as |c|>
                <c.header @badgeIcon="manual" @badgeSkin="border" @badgeSize="small">
                  <AuHeading @level="3" @skin="6">
                    Dropdown
                  </AuHeading>
                </c.header>
                <c.content>
                  <p>
                    <AuControlCheckbox @label="Maak vereist tekstveld" @identifier="vereist" />
                  </p>

                  <p>
                    <AuControlCheckbox @label="Voeg helptekst toe" @identifier="helptekst" />
                  </p>

                  <AuButton @icon="add" @iconAlignment="left" @skin="tertiary">
                    Voeg veld toe
                  </AuButton>
                </c.content>
              </AuCard>
              <AuCard @expandable={{true}} @flex={{true}} @divided={{true}} class="au-o-box--tiny" as |c|>
                <c.header @badgeIcon="manual" @badgeSkin="border" @badgeSize="small">
                  <AuHeading @level="3" @skin="6">
                    Tekstveld kort
                  </AuHeading>
                </c.header>
                <c.content>
                  <p>
                    <AuControlCheckbox @label="Maak vereist tekstveld" @identifier="vereist" />
                  </p>
                  <p>
                    <AuControlCheckbox @label="Voeg helptekst toe" @identifier="helptekst" />
                  </p>
                  <p>
                    <AuControlCheckbox @label="Voeg tekstlimiet toe" @identifier="limiet" />
                  </p>
                  <AuButton @icon="add" @iconAlignment="left">
                    Voeg type toe
                  </AuButton>
                </c.content>
              </AuCard>
            </li>
          </ul>
          <ConceptSchemeUriSelector/>
        </div>
      </div>
    </div>
  </div>
  <div class="au-c-main-container__content">
    <div class="playground">
      <Playground @template={{this.template}} />
      {{outlet}}
    </div>
  </div>
</main>
