<div class="au-c-toolbar au-c-toolbar--bottom au-c-toolbar--large">
  <div class="au-c-toolbar__group">

    <AuHeading @level="1" @skin="2">
      Semantische Formulierenbouwer Loket
    </AuHeading>
  </div>
  <div class="au-c-toolbar__group">
    <AuButton
      @skin="primary" @icon="add"
      {{on "click" (fn (mut this.showModal) true)}}
    >
      Maak nieuw semantisch formulier
    </AuButton>
  </div>
</div>

<main id="main" class="au-c-main-container">
  <div class="au-c-main-container__content">
    <div class="au-c-body-container">
      <AuDataTable
        @content={{this.model}}
        @isLoading={{this.isLoadingModel}}
        @noDataMessage="Geen formulieren gevonden"
        @sort={{this.sort}}
        @page={{this.page}}
        @size={{this.size}}
        as |t|
      >
        <t.content as |c|>
          <c.header>
            <AuDataTableThSortable @label='Naam' @field='label' @currentSorting={{this.sort}}
              class="au-u-visible-medium-up" />
            <AuDataTableThSortable @label='Beschrijving' @field='comment' @currentSorting={{this.sort}}
              class="au-u-visible-medium-up" />

            <AuDataTableThSortable @label='Aangemaakt op' @field='created' @currentSorting={{this.sort}}
              class="au-u-visible-small-up" />
            <AuDataTableThSortable @label='Aangepast op' @field='modified' @currentSorting={{this.sort}}
              class="au-u-visible-small-up" />
            <th colspan="2">Acties</th>
          </c.header>
          <c.body as |generatedForm|>
            <td class="au-u-visible-medium-up">
              <AuLink @route="formbuilder.edit" @model={{generatedForm.id}} @ariaHidden={{true}}>{{generatedForm.label}}</AuLink>
            </td>
            <td class="au-u-visible-medium-up">{{generatedForm.comment}}</td>
            <td class="au-u-visible-medium-up">{{format-date generatedForm.created}}</td>
            <td class="au-u-visible-medium-up">{{format-date-time generatedForm.modified}}</td>
            <td class="au-u-visible-medium-up">
              <AuButton
              @skin="link"
                @icon="bin"
                @alert={{true}}
                {{on "click" (fn this.openDeleteModal generatedForm)}}
              >
                Verwijder
              </AuButton>
            </td>
            <td class="au-u-visible-medium-up">
              <LinkTo @route="user-tests.new" @query={{hash form=generatedForm.id}} class="au-c-link">
                <AuIcon @icon="user-popup" @alignment="left" @size="large" @ariaHidden={{true}} />
                Test
              </LinkTo>
            </td>
          </c.body>
        </t.content>
      </AuDataTable>
    </div>
  </div>
</main>

{{#if this.showDeleteModal}}
  <ConfirmDeletionModal
    @onDelete={{this.deleteForm}}
    @onClose={{fn (mut this.showDeleteModal) false}}
  />
{{/if}}
<AuModal
  @title="Geef een naam en beschrijving"
  @modalOpen={{this.showModal}}
  @closeModal={{this.closeModal}} as |Modal| >
  <Modal.Body>
    <div class="au-o-grid au-o-grid--small">
      <div class="au-o-grid__item au-1-1">
        <AuLabel for="input-filelabel"
          @required={{true}}
        >
          Naam
        </AuLabel>
        <AuInput
          id="input-filelabel"
          @error={{this.inputErrorMessage}}
          value={{this.name}}
          {{on "blur" this.handleNameChange}}
        />
        {{#if this.inputErrorMessage}}
          <AuHelpText @error={{true}}>{{this.inputErrorMessage}}</AuHelpText>
        {{/if}}
        
      </div>
      <div class="au-o-grid__item au-1-1">
        <AuLabel for="input-filecomment">Beschrijving</AuLabel>
        <AuTextarea
          @width="block"
          id="input-filecomment"
          rows="10"
          value={{this.description}}
          {{on "input" this.handleDescriptionChange}}
        />
        {{#if this.emptyFormComment}}
          <AuHelpText @error={{true}}>Een beschrijving geven is verplicht</AuHelpText>
        {{/if}}
      </div>
    </div>
  </Modal.Body>
  <Modal.Footer>
      <AuButton 
        @disabled={{this.disableSubmit}}
        {{on "click" this.initiateForm}}
      >
        Bouw formulier
      </AuButton>
  </Modal.Footer>
</AuModal>
