<div class="au-c-toolbar  au-c-toolbar--bottom  au-c-toolbar--large ">
  <div class="au-c-toolbar__group">

    <AuHeading @level="1" @skin="2">
      Semantische Formulierenbouwer Loket
    </AuHeading>
  </div>
  <div class="au-c-toolbar__group">
    <AuLink @route="formbuilder.new" @skin="button" class="au-c-button--large">
      <AuIcon @icon="add" @alignment="left" @size="large" @ariaHidden={{true}} />
      Maak nieuw semantisch formulier
    </AuLink>
  </div>
</div>

<main id="main" class="au-c-main-container">
  <div class="au-c-main-container__content">
    <div class="au-c-body-container">
      <AuDataTable @content={{this.model}} @isLoading={{this.isLoading}} noDataMessage="Geen formulieren gevonden"
        @sort={{this.sort}} @page={{this.page}} @size={{this.size}}
        class="container-flex--contain bbcdr-reports-data-table" as |t|>
        <t.content as |c|>
          <c.header>
            <AuDataTableThSortable @label='Naam' @field='label' @currentSorting={{this.sort}}
              class="au-u-visible-medium-up" />
            <AuDataTableThSortable @label='Beschrijving' @field='comment' @currentSorting={{this.sort}}
              class="au-u-visible-medium-up" />

            <AuDataTableThSortable @label='Aangemaakt op' @field='created' @currentSorting={{this.sort}}
              class="au-u-visible-small-up" />
            <AuDataTableThSortable @label='Aangepast op' @field='modified' @currentSorting={{this.sort}}
              class="au-u-visible-small-up" />
            <th colspan="2">Acties</th>
          </c.header>
          <c.body as |row|>
            <td class="au-u-visible-medium-up">{{row.label}}</td>
            <td class="au-u-visible-medium-up">{{row.comment}}</td>
            <td class="au-u-visible-medium-up">{{row.created}}</td>
            <td class="au-u-visible-medium-up">{{row.modified}}</td>
            <td class="au-u-visible-medium-up">
              <AuLink @linkRoute="formbuilder.edit" @model={{row}} @icon="pencil" @iconAlignment="left" @ariaHidden={{true}} >Bewerk</AuLink>
            </td>
            <td class="au-u-visible-medium-up">
              <LinkTo @route="user-tests.new" @query={{hash form=row.id}} class="au-c-link">
                <AuIcon @icon="user-popup" @alignment="left" @size="large" @ariaHidden={{true}} />
                Test
              </LinkTo>
            </td>
          </c.body>
        </t.content>
      </AuDataTable>
    </div>
  </div>
</main>
