<div class="au-c-toolbar au-c-toolbar--bottom au-c-toolbar--large">
  <div class="au-c-toolbar__group">

    <AuHeading @level="1" @skin="2">
      {{t "main.formsTitle"}}
    </AuHeading>
  </div>
  <div class="au-c-toolbar__group">
    <AuButton
      @skin="primary"
      @icon="add"
      {{on "click" this.openCreateFormModal}}
    >
      {{t "main.createNewForm"}}
    </AuButton>
  </div>
</div>

<main id="main" class="au-c-main-container">
  <div class="au-c-main-container__content">
    <div class="au-c-body-container removeTableLines">
      <AuDataTable
        @content={{this.model}}
        @isLoading={{this.isLoadingModel}}
        @noDataMessage={{t "messages.feedback.noFormsFound"}}
        @sort={{this.sort}}
        @page={{this.page}}
        @size={{this.size}}
        as |t|
      >
        <t.content as |c|>
          <c.header>
            <AuDataTableThSortable
              @label="Naam"
              @field="label"
              @currentSorting={{this.sort}}
              class="au-u-visible-medium-up"
            />
            <AuDataTableThSortable
              @label="Aangemaakt op"
              @field="created"
              @currentSorting={{this.sort}}
              class="au-u-visible-small-up"
            />
            <AuDataTableThSortable
              @label="Aangepast op"
              @field="modified"
              @currentSorting={{this.sort}}
              class="au-u-visible-small-up"
            />
            <th colspan="1"></th>
            <th colspan="1"></th>
          </c.header>
          <c.body as |generatedForm|>
            <td class="au-u-visible-medium-up">
              <AuLink
                @route="formbuilder.edit"
                @model={{generatedForm.id}}
                @ariaHidden={{true}}
              >{{generatedForm.label}}</AuLink>
            </td>
            <td class="au-u-visible-medium-up">{{format-date
                generatedForm.created
              }}</td>
            <td class="au-u-visible-medium-up">{{format-date-time
                generatedForm.modified
              }}</td>
            <td class="au-u-visible-medium-up">
              <LinkTo
                @route="user-tests.new"
                @query={{hash form=generatedForm.id}}
                class="au-c-link"
              >
                <AuIcon
                  @icon="eye"
                  @alignment="left"
                  @size="large"
                  @ariaHidden={{true}}
                />
                Voorbeeld
              </LinkTo>
            </td>
            <td class="au-u-visible-medium-up">
              <AuButton
                @skin="link"
                @icon="bin"
                @alert={{true}}
                {{on "click" (fn this.openDeleteModal generatedForm)}}
              >
                Verwijder
              </AuButton>
            </td>
          </c.body>
        </t.content>
      </AuDataTable>
    </div>
  </div>
</main>

{{#if this.showDeleteModal}}
  <ConfirmDeletionModal
    @onDelete={{this.deleteForm}}
    @onClose={{fn (mut this.showDeleteModal) false}}
  />
{{/if}}

{{#if this.showCreateFormModal}}
  <CreateFormModal @closeModal={{this.closeCreateFormModal}} />
{{/if}}