<div class="au-c-toolbar au-c-toolbar--bottom au-c-toolbar--large">
  <div class="au-c-toolbar__group">

    <AuHeading @level="1" @skin="2">
      {{t "main.formsTitle"}}
    </AuHeading>
  </div>
  <div class="au-c-toolbar__group">
    <AuLink @route="formbuilder.new" @skin="button" @icon="pencil">
      {{t "main.createNewForm"}}
    </AuLink>
  </div>
</div>

<main id="main" class="au-c-main-container">
  <div class="au-c-main-container__content">
    <div class="au-c-body-container removeTableLines">
      <AuDataTable
        @content={{this.model}}
        @isLoading={{this.isLoadingModel}}
        @noDataMessage={{this.translations.noFormsFound}}
        @sort={{this.sort}}
        @page={{this.page}}
        @size={{this.size}}
        as |t|
      >
        <t.content as |c|>
          <c.header>
            <AuDataTableThSortable
              @label={{this.translations.columnName}}
              @field="label"
              @currentSorting={{this.sort}}
              class="au-u-visible-medium-up"
            />
            <AuDataTableThSortable
              @label={{this.translations.columnModifiedOn}}
              @field="modified"
              @currentSorting={{this.sort}}
              class="au-u-visible-small-up"
            />
            <th colspan="1"></th>
            <th colspan="1"></th>
          </c.header>
          <c.body as |generatedForm|>
            <td class="au-u-visible-medium-up au-u-word-break">
              <AuLink
                @route="formbuilder.editor"
                @model={{generatedForm.id}}
                @ariaHidden={{true}}
              >{{generatedForm.label}}</AuLink>
            </td>
            <td class="au-u-visible-medium-up">{{format-date-time
                generatedForm.modified
              }}</td>
            <td class="au-u-visible-medium-up">
              <AuLink
                @route="forms.test"
                @model={{generatedForm.id}}
                @icon="eye"
                @alignment="left"
              >
                {{this.translations.test}}
              </AuLink>
            </td>
            <td class="au-u-visible-medium-up">
              <AuButton
                @skin="link"
                @icon="bin"
                @alert={{true}}
                {{on "click" (fn this.openDeleteModal generatedForm)}}
              >
                {{this.translations.deleteForm}}
              </AuButton>
            </td>
          </c.body>
        </t.content>
      </AuDataTable>
    </div>
  </div>
</main>

{{#if this.showDeleteModal}}
  <ConfirmDeletionModal
    @onDelete={{this.deleteForm}}
    @onClose={{fn (mut this.showDeleteModal) false}}
  />
{{/if}}